{% extends 'base.html.twig' %}

{% block title %}
    detail
{% endblock %}

{% block body %}

    <div class="row mt-3">

        <div class="col-8">
            <img src="{{ vich_uploader_asset(evenement, 'imageFile') }}" alt="">
                <div class="text-center img-fluid">
                    <h1>
                        {{ evenement.nom }}
                    </h1>
                </div>
                <div>
                    {{ evenement.description }}
                </div>
            </div>

            <div class="col-4">

                <div class="detail-even">

                    <div class="detail-date">

                        <h3>
                            Date:
                        </h3>
                        <div>
                            {{ evenement.dateDebut|date('d-m-Y') }} au
                            {{ evenement.dateFin|date('d-m-Y') }}
                        </div>
                    </div>

                    <div class="detail-adresse">
                        <h3>
                            Localisation:
                        </h3>
                        <div>
                            {{ evenement.adresse }}
                            <br>
                                {{ evenement.codePostal }}
                                {{ evenement.ville }}
                            </div>
                        </div>

                        <div class="detail-prix">
                    <h3>Prix</h3>
                        <div>
                        {{evenement.prix}} €
                        </div>
                    </div>

                    </div>
                </div>
                {# <div class="col-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h5>
                                Ajouter un commentaire
                            </h5>
                        </div>
                        <div class="card-body">
                            {% if app.user %}
                                {{ form_start(form) }}

                                {{ form_widget(form) }}
                                <button class="btn btn-primary mt-3" type="submit">
                                    Enregistrer
                                </button>
                                {{ form_end(form) }}
                            {% else %}
                                <p>
                                    Vous devez etre connecté pour ajouter un commentaire.
                                </p>
                                <hr>
                                    <a class="btn btn-success" href="{{ path('app_login') }}">
                                        Se connecter
                                    </a>
                                    <hr>
                                        <a class="btn btn-primary" href="{{ path('app_register') }}">
                                            Creer un compte
                                        </a>

                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <div class="card">
                                <div class="card-header">
                                    <h5>
                                        Les commentaires
                                    </h5>
                                </div>
                            </div>
                            <div class="card-body">
                                {% if evenement.commentaires |length > 0 %}
                                    {% for commentaire in evenement.commentaires %}
                                        <p {% if app.user is same as commentaire.auteur %} style="font-weight:bold;color:red;" {% else %} style="font-weight:bold;" {% endif %}>
                                            Auteur:
                                            {{ commentaire.auteur.pseudo }}
                                        </p>
                                        <p>
                                            Date:
                                            {{ commentaire.createdAt | date('d-m-Y H:i:s') }}
                                        </p>
                                        <p>
                                            Contenu:
                                            {{ commentaire.contenu }}
                                        </p>
                                        <hr>
                                        {% endfor %}
                                    {% else %}
                                        <p>
                                            Il n'y a pas encore de commentaire
                                        </p>
                                    {% endif %}
                                </div>
                            </div> #}
                            <div class="mt-3">
                                <a href="{{ path('evenement') }}" class="btn btn-dark">
                                    Retour a la liste
                                </a>
                            </div>
                        
                        {% endblock %}