{% extends 'base.html.twig' %}

{% block title %}Hello CreationEvenementController!{% endblock %}

{% block body %}
{{ form_start(form) }}

    <div class="row">
        <div class="col-12 form-group">
            {{ form_row(form.nom) }}
        </div>
    </div>

    <div class="row">
        <div class="col-12 form-group">
            {{ form_row(form.dateDebut) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 form-group">
            {{ form_row(form.dateFin) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 form-group">
            {{ form_row(form.description) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 form-group">
            {{ form_row(form.prix) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 form-group">
            {{ form_row(form.adresse) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 form-group">
            {{ form_row(form.ville) }}
        </div>
    </div>

    <div class="row">
        <div class="col-12 form-group">
            {{ form_row(form.codePostal) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 form-group">
            {{ form_row(form.imageFile) }}
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
