{% extends 'base.html.twig' %}

{% block title %}
    Profile de
    {{ app.user.pseudo }}
{% endblock %}

{% block body %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                Mes information
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="evenement-tab" data-bs-toggle="tab" data-bs-target="#evenement" type="button" role="tab" aria-controls="evenement" aria-selected="false">
                Mes evenements
            </button>
        </li>
    </ul>
    <div class="tab-content mt-2" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        {% for message in app.flashes('message') %}
        <div class="alert alert-success" role="alert">
            {{message}}
        </div>
        {% endfor %}
            <p>
                Pseudo :
                {{ app.user.pseudo }}
            </p>
            <p>
                Nom :
                {{ app.user.nom }}
            </p>
            <p>
                Prénom :
                {{ app.user.prenom }}
            </p>
            <p>
                E-mail :
                {{ app.user.email }}
            </p>
            <p>
                Adresse :
                {{ app.user.adresse }}
            </p>
            <p>
                Code Postale :
                {{ app.user.codePostal }}
            </p>
            <p>
                Ville :
                {{ app.user.ville }}
            </p>
            <a class="btn btn-primary" href="{{ path('user_profil_modifier') }}" role="button">
                Modifier le profil
            </a>
            <a class="btn btn-primary" href="{{ path('user_pass_modifier') }}" role="button">
                Modifier le mot de passe
            </a>
        </div>
        <div class="tab-pane fade" id="evenement" role="tabpanel" aria-labelledby="evenement-tab">
            {% for evenement in app.user.evenements %}
                <p>
                    Titre :
                    {{ evenement.nom }}
                </p>
                <p>
                    Date de debut :
                    {{ evenement.dateDebut|date('d/m/Y') }}
                </p>
                <p>
                    Date de fin :
                    {{ evenement.dateFin|date('d/m/Y') }}
                </p>
                <p>
                    Description :
                    {{ evenement.description }}
                </p>
                <p>
                    Prix :
                    {{ evenement.prix }}
                </p>
                <p>
                    Adresse :
                    {{ evenement.adresse }}
                </p>
                <p>
                    Ville :
                    {{ evenement.ville }}
                </p>
                <p>
                    Code postale :
                    {{ evenement.codePostal }}
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
